body {
  font-family: sans-serif;
  background-color: #000925;
  color: #979cab;
}

a {
  text-decoration: none;
  color: azure;
}

a:visited {
  color: azure;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navdiv {
  display: flex;
  justify-content: center;
}

#navimg {
  flex-grow: 1;
}

#navlogo {
  flex-grow: 1;
}

h1 {
  color: aliceblue;
}

h2 {
  color: aliceblue;
}

h3 {
  color: aliceblue;
}
