body {
  font-family: sans-serif;
  background-color: #000925;
  color: #979cab;
}

a {
  text-decoration: none;
  color: azure;
}

a:visited {
  color: azure;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1 {
  color: aliceblue;
}

h2 {
  color: aliceblue;
}

h3 {
  color: aliceblue;
}
